.menu-seq {
    font-size: 1px;
    margin: 3px 0;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #FFFFFF;
}
.start{
  background:url('../../../static/img/win_gray.png') -4px 0 no-repeat;
  display:inline-block;
  width:40px;
  height:40px;
  position:relative;
  top:-1px;
  cursor: pointer;
}
.start-hover{
  background:url('../../../static/img/win_blue.png') -4px 0 no-repeat;
}
.start-box{
  width:50px;
  text-align:center;
}
.task-icon{
  display:inline-block;
  margin-right:10px;
  padding:4px 3px;
  background:none;
  border:none;
}
.task-icon:active,.task-icon:focus,.task-icon:visited{
  border:none!important;
  box-shadow: none!important;
}
.time-box{
  width:80px;
  font-size:12px;
  font-family:'微软雅黑';
  text-align:center;
  cursor:default;
}
.time-box-week{
  margin-left:8px;
}
.desktop-show{
  width:10px;
}
.seq{
  border-left: 1px solid #AAAAAA;
    border-right: 1px solid #FFFFFF;
    float:left;
    height:44px;
}
.desktop-menu{
  position:absolute;
  padding:10px;
  width:80px;
  height:80px;
  display:inline-block;
  text-align:center;
  z-index: 99999;
}
.desktop-menu:hover{
  background:rgba(255,255,255,.2);
  border-radius: 5px;
}
.desktop-menu img{
  margin-top:6px;
  display:inline-block;
}
.desktop-menu span{
  color:#eee;
  font-size:12px;
  font-weight:bold;
  font-family:'微软雅黑';
  text-align:center;
  display:inline-block;
}
.desktop-menu-shadow{
  z-index:10;
}